<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h2><%= project.title %></h2>
      <div class="content">
        <p><%= project.body %></p>
      </div>
      <a class="delete" data-doc="<%= project._id %>">delete</a>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/project/${trashcan.dataset.doc}`;

        // On utilise le fetch api
        fetch(endpoint, {
          method: "DELETE",
        })
          // On transforme la réponse json du serveur sous forme de javascript exploitable avec la méthode json()
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => consoloe.log(err));
      });
    </script>
  </body>
</html>
